/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --blur-overlay: blur(4px);
  --blur-layer-2: blur(4px);
  --blur-glass-3: blur(4px);
}