/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --font-weight-thin-italic: 400;
  --font-weight-extralight-italic: 400;
  --font-weight-light-italic: 400;
  --font-weight-regular-italic: 400;
  --font-weight-medium-italic: 400;
  --font-weight-semibold-italic: 400;
  --font-weight-bold-italic: 400;
  --font-weight-extra-bold-italic: 400;
  --font-weight-black-italic: 400;
}